html {
    background: #a5a4ce;
    font-family: System,monospace;
    font-size: 10pt;
}
.window {
    border: 6px double #fff;
    background: silver;
    position: relative;
    padding: 1.4em;
    width: 80%;
    max-width: 670px;
    margin: 2em auto;
    box-shadow: 0 0 0 3px #3465a4, 1em 1em 3px 0 rgb(0 0 0 / 50%);
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
    color: white;
    font-family: System,monospace;
    background-color: green;
    width: 200px;
    height: 30px;
}
h1{
    text-align: center;
}
h2{
    font-size: 12px;
}
textarea {
    width: 680px;
}
.small {
    width: 110px;
}
.info-div {
    background: #3465a4;
    color: white;
}
.top_menu {
    top: 0;
    left: 0;
    right: 0;
    background: silver;
    font-weight: bolder;
    text-align: center;

}
.top_menu a {
    margin: 0 1em;
    text-decoration: none;
    color: #000;
    padding: 0 1em;
}
div {
    display: block;
}
body {
    margin: 0;
    padding: 0;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 15px;
}
table.fixed { table-layout:fixed; }
table.fixed td { overflow: hidden; }

.search a {
    background-color: green;
    color: white;
    border-color: black;
}
a {
    text-decoration: none;
}